---
---

@import "bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lato:wght@100;300;400;700;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$brandcolor: #00A19A;

svg {
  fill: white;
  height: 30px;
}

body {
  font-family: 'Karla', sans-serif;
}

.bg-brandcolor {
  background-color: $brandcolor;
}

.brandcolor {
  color: $brandcolor;
}

h1, .h1 {
  font-weight: 800
}

.page p {
  font-size: 1.5em;
}

a {
  color: white;
}

w-300 {
  font-weight: 300;
}



/********** DA COVER BOOSTRAP EXAMPLE ***********/


/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: $brandcolor;
}


/*
 * Base structure
 */





/*
 * Header
 */


 .navbar .nav-link {
   padding: .25rem 0;
   font-weight: 700;
   color: rgba(255, 255, 255, .5);
   background-color: transparent;
 }

 .navbar .nav-link:hover,
 .navbar .nav-link:focus {
   border-bottom-color: rgba(255, 255, 255, .25);
 }

 .navbar .nav-link + .nav-link {
   margin-left: 1rem;
 }

 .navbar .active {
   color: #fff;
   border-bottom-color: #fff;
 }
