<header class="mb-auto">
  <div class="mt-3">
    <h3 class="float-md-start mb-4">
      <a href="/">
      <svg viewBox="0 0 600 140" class="logo">
        <use xlink:href="res/logo-long.svg#logo-long-ai"></use>
      </svg>
      </a>
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
      <a class="nav-link" href="/about">Chi siamo</a>
      <a class="nav-link" href="/progetto">Il progetto</a>
      <a class="nav-link" href="/progetto">La cooperativa</a>
    </nav>
  </div>
</header>
