{% include head.html %}

<body class="text-white bg-brandcolor d-flex">

  <div class="container-fluid p-3 mx-auto">

  {% include header.html %}

  <main class="mt-5 px-3 d-flex flex-column align-items-center">
    <!-- <div class="rounded-circle" style="width: 300px; height: 300px; background-image: url('/res/mainphoto1.jpeg'); background-size: cover;"></div> -->
    <!-- <img src="/res/bike-home.svg" alt="" style="width: 300px; height: 300px; > -->
    <img src="/res/bike-pin.svg" alt="" style="width: 200px; height: 200px; ">

    <h1 class="mt-4">Ecco Biclò!</h1>
    <p class="fs-3 text-center" style="max-width: 700px;"> Biclò è la Cooperativa Impresa Sociale nata per favorire la transizione ecologica nel settore della mobilità urbana, attraverso lo sviluppo e la diffusione di soluzioni per il parcheggio e lo stazionamento dei mezzi di mobilità green, in primis biciclette e ebike.</p>
    <p class="lead">
      <a href="/chisiamo" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Scopri di più su Biclò</a>
    </p>

    <br>
    <br>


    <h1 class="mt-4">Come possiamo aiutarti?</h1>

    <div class="d-lg-flex">
      <div class="border border-2 rounded-3 m-2 p-3 flex-grow-1">
        <h2>
          Sei un<br>ciclista?
        </h2>
        <p>Puoi aderire a Biclò e parcheggiare nelle Biclostazioni™ del network. Il tuo mezzo sarà sempre al sicuro. Tu pensa a goderti il viaggio, al resto pensiamo noi.</p>
      </div>
      <div class="border border-2 rounded-3 m-2 p-3">
        <h2>
          Sei un<br>impresa?
        </h2>
        <p>Puoi acquistare le Biclostazioni™ per offrire un parcheggio sicuro e protetto ai tuoi clienti e/o ai tuoi dipendenti. Il controllo accessi verrà gestito tramite la nostra App.</p>
      </div>
      <div class="border border-2 rounded-3 m-2 p-3">
        <h2>
          Sei un<br>ente locale?
        </h2>
        <p>Puoi aderire al nostro network per offrire parcheggi sicuri ai cittadini oppure avvalerti della nostra esperienza per progettare o pianificare un sistema integrato di parcheggi protetti per i cittadini del tuo territorio.</p>
      </div>
    </div>




    <h1 class="mt-5"></h1>
    <h1 class="mt-5">Il network Biclò</h1>
    <p class="fs-3 text-center" style="max-width: 700px;"> La Biclorete è il network di parcheggi sicuri per biciclette e ebike, che ti permette di muoverti ovunque senza pensieri.</p>
    <p class="lead">
      <a href="/biclorete" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Scopri di più sulla Biclorete</a>
    </p>

    <h1 class="mt-5"></h1>
    <h1 class="mt-5">La Biclostazione™</h1>
    <p class="fs-3 text-center" style="max-width: 700px;"> La Biclostazione™ è la soluzione più semplice ed efficace per proteggere i mezzi di mobilità green da furti, atti vandalici e agenti atmosferici.</p>
    <p class="lead">
      <a href="/biclostazione" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Scopri di più sulla Biclostazione</a>
    </p>

    <h1 class="mt-5"></h1>
    <h1 class="mt-5">La nostra App</h1>
    <p class="fs-3 text-center" style="max-width: 700px;"> L'App Biclò permette l'accesso alle biclostazioni e connette la community.</p>
    <p class="lead">
      <a href="/app" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Scopri di più sull'App Biclò </a>
    </p>

    <div class="" style="height: 300px;">

    </div>
  </main>

    {% include footer.html %}
  </div>

  {% include scripts-after.html %}
</body>

</html>
