{% include head.html %}

<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  {% include header.html %}

  <main class="px-3">
    <h1>Sta nascendo Biclò!</h1>
    <p class="lead"> Biclò è la community di cittadini-ciclisti nata per creare e gestire una rete di “Biclostazioni”:
parcheggi per biciclette sicuri, economici, al coperto e con accesso automatizzato.</p>
    <p class="lead"> Biclò è stata finanziata grazie al progetto Smart & Coop<br>di Legacoop Toscana e Fondazione CR Firenze.</p>
    <p class="lead">
      <a href="/progetto" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Scopri di più</a>
    </p>
  </main>



    {% include footer.html %}
  </div>

  {% include scripts-after.html %}
</body>

</html>
