{% include head.html %}

<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  {% include header.html %}

  <main class="px-3">
    <h1>È nata Biclò!</h1>
    <p class="lead">Biclò è un progetto bellissimo per portare parcheggi sicuri di biciclette in tutta Italia, partendo da Firenze. Biclò è una cooperativa di utenza. Biclò è stata finanziata grazie al progetto Smart & Coop di Legacoop Toscana e Fondazione CR Firenze.</p>
    <p class="lead">
      <a href="/progetto" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Scopri di più</a>
    </p>
  </main>



    {% include footer.html %}
  </div>

  {% include scripts-after.html %}
</body>

</html>
